<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                         <th>Id</th>
                         <th>Nom</th> 
                         <th>Prix</th> 
                         <th>Date Création</th>
                     </tr>
                  
                </thead>
                <tbody *ngFor="let electromenagers of electromenagers">
                  <tr >
                    <td>{{electromenagers.id}}</td>
                    <td>{{electromenagers.nom}}</td>
                    <td>{{electromenagers.prix}}</td>  
                    <td>{{electromenagers.dateCreation | date:'dd/MM/yyyy'}}</td>
                    <td><a class="btn btn-danger" (click)="supprimerElectromenagers(electromenagers)">Supprimer</a></td>
                    <td><a class="btn btn-success" [routerLink]="['/updateElectromenagers',electromenagers.id]">Modifier</a></td>
                    
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
